@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.grand_container__styles{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 75vw;
    height: 95vh;
    margin: -49px 25% 0 14%;
    background-color: #b07cf7;
    font-family: Raleway;                   
}

.header_container__styles{    
    color: white;
    display: flex;        
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 35% 0 35%;
}

.header_container__styles-h1{    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    width: 40%;
    height: 100%;
}

.header_container__styles-p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 100%;
}

.central_container__styles{
    flex-direction: row;
    display: flex;
    justify-content: center;    
    width: 60%;
    height: 40%;
    margin: 20px 25% 27% 20%;
}

.central_pictuer_container__styles{
    margin: 0 20px 0 20px;
    color: white;           
}

.central_pictuer_one__styles{    
    background-image: linear-gradient(transparent, #000000),  url("../img/kiviDrink.png") ;
    background-repeat: no-repeat;
    filter: brightness(120%);
    width: 810px;
    height: 320px;  
}

.central_pictuer_two__styles{
    background-image: linear-gradient(transparent, #000000), url("../img/greenSoup.png");
    background-repeat: no-repeat;
    filter: brightness(120%);
    width: 810px;
    height: 320px;  
}

.central_pictuer_three__styles{
    background-image: linear-gradient(transparent, #000000), url("../img/raspberriesBaskets.png");
    background-repeat: no-repeat;
    filter: brightness(120%);
    width: 810px;
    height: 320px;
}

.central_date_container__styles{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    font-size: 120%;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #262626;
    opacity: 0.5;
    margin: 15px 0 0 15px;
    padding: 1%;
}

.central_pictuer_container__styles-number{
    font-size: 140%;
    margin-left: 15px;    
}

.central_pictuer_container__styles-month{
    margin-left: 9px;
}

.central_header_container__styles{    
    margin: 36% 5% 0 5%;
    font-size: 125%;
}

.central_line_container__styles{
    font-size: 90%;
    margin: 5% 5% 0 5%;
}

.central_pictuer_container__styles:hover{
    color: aqua;
    opacity: 0.9;          
}

.button_container__styles{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: -350px 0 10% 0;    
}

.button__styles{
    background-color: #f72b3b;
    border: none;
    color: white;        
    padding: 25px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button__styles:hover{
    background-color: #00b3b3;    
}